.App {
  text-align: center;
  background-color: #ffffff;

  h1 {
    font-weight: 500;
  }
  
  .AppLogo {
    animation: App-logo-spin infinite 5s linear;
    height: 1em;
    pointer-events: none;
    line-height: 1em;
    vertical-align: middle;
  }

  .AppHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
  }

  .AppLink {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .NoteContainer {
    text-align: left;
  }
}
